In [2]:
#importing libraries
import numpy as np
import pandas as pd
import lux

In [3]:
#reading the dataset from csv file
df = pd.read_csv('german_credit_data.csv')
df.head()

C:\Users\177866\Anaconda3\lib\site-packages\IPython\core\formatters.py:345: UserWarning:
Lux defaults to Pandas when there are no valid actions defined.

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,0,67,male,2,own,NaN,little,1169,6,radio/TV
1,1,22,female,2,own,little,moderate,5951,48,radio/TV
2,2,49,male,1,own,little,NaN,2096,12,education
3,3,45,male,2,free,little,little,7882,42,furniture/equipment
4,4,53,male,2,free,little,little,4870,24,car

In [4]:
#removing unnecessary columns
credit_risk=df.drop("Unnamed: 0", axis=1)

#renaming columns as per convenience
credit_risk=credit_risk.rename(columns={'Saving accounts':'Savings account'})

credit_risk

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [5]:
#dataset description and details
print ("Size of Dataframe:")
print (credit_risk.size)
print ("\n")
print ("Shape of Dataframe:")
print (credit_risk.shape)
print ("\n")
print ("Columns of Dataframe:")
print (credit_risk.columns)
print ("\n")
print ("Feature data types:")
print (credit_risk.info())
print ("\n")
print ("Number of unique values per feature:")
print (credit_risk.nunique())
print ("\n")
print ("Null values per feature:")
print (credit_risk.isnull().sum())

Size of Dataframe:
9000


Shape of Dataframe:
(1000, 9)


Columns of Dataframe:
Index(['Age', 'Sex', 'Job', 'Housing', 'Savings account', 'Checking account',
       'Credit amount', 'Duration', 'Purpose'],
      dtype='object')


Feature data types:
<class 'lux.core.frame.LuxDataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1000 non-null   int64
 1   Sex               1000 non-null   object
 2   Job               1000 non-null   int64
 3   Housing           1000 non-null   object
 4   Savings account   817 non-null    object
 5   Checking account  606 non-null    object
 6   Credit amount     1000 non-null   int64
 7   Duration          1000 non-null   int64
 8   Purpose           1000 non-null   object
dtypes: int64(4), object(5)
memory usage: 70.4+ KB
None


Number of unique values per feature:

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Null values per feature:

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [6]:
#handling null values (only in CA/SA)
credit_risk = credit_risk.fillna('unknown')

credit_risk

,Age,Sex,Job,Housing,Savings account,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,unknown,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,unknown,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car
...,...,...,...,...,...,...,...,...,...
995,31,female,1,own,little,unknown,1736,12,furniture/equipment
996,40,male,3,own,little,little,3857,30,car
997,38,male,2,own,little,unknown,804,12,radio/TV
998,23,male,2,free,little,little,1845,45,radio/TV
999,27,male,2,own,moderate,moderate,4576,45,car

In [7]:
#dataset for only numerical features
num_features = credit_risk.iloc[:,[0,6,7]]
num_features

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [8]:
#dataset for only categorical features
cat_features = credit_risk.iloc[:,[1,2,3,4,5,8]]
cat_features

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [9]:
#export numerical and categorical features as .csv file
num_features.to_csv("credit_data_num_features.csv")
cat_features.to_csv("credit_data_cat_features.csv")

In [10]:
#importing libraries for pandas-profiling
from pandas_profiling import ProfileReport

profile = ProfileReport(credit_risk)
profile.to_file("pandasEDA.html")

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=22.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [11]:
#importing libraries for sweetviz
import sweetviz as sv

sweetviz_report = sv.analyze(credit_risk)
sweetviz_report.show_html("sweetvizEDA.html")

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=10.0), HTML(value='')), l…

Report sweetvizEDA.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.